# Pinecone API Variables
PINECONE_API_KEY=""
PINECONE_ENVIRONMENT=""
PINECONE_INDEX=""

# OpenAI Setup
OPENAI_API_KEY=""
# Set this to "open_ai" if using OpenAI directly
OPENAI_API_TYPE="open_ai"

# Dummy Variables. Don't set these if you are using OpenAI directly. They are only used for Azure OpenAI
AZURE_OPENAI_DEPLOYMENT_NAME=""
AZURE_OPENAI_MODEL=""
OPENAI_API_VERSION=""

# Azure Setup. Uncomment the following variable lines if using Azure OpenAI
# OPENAI_API_KEY=""
# Set this to "azure" if using Azure OpenAI
# OPENAI_API_TYPE="azure"

# The base URL for your Azure OpenAI resource. You can find this in the Azure portal under your Azure OpenAI resource.
# OPENAI_API_BASE="https://your-resource-name.openai.azure.com"
# AZURE_OPENAI_DEPLOYMENT_NAME=""

# This can change depending on the model you are using. More info: https://learn.microsoft.com/en-us/azure/cognitive-services/openai/chatgpt-quickstart?tabs=command-line&pivots=programming-language-python
# AZURE_OPENAI_MODEL="gpt-35-turbo"
# OPENAI_API_VERSION="2023-03-15-preview"

